<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JokeMeter</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <header>
    <div class="nav">
        <div class="logo">🧠 JokeMeter</div>
        <div class="nav-links">
          <a href="https://github.com/Nelson-Uniandes/jokemeter" target="_blank" class="nav-link">Repositorio</a>
          <a href="#" onclick="openModal()" class="nav-link">Equipo</a>
        </div>
    </div>
  </header>

  <main>
    <h1>Deja que la IA juzgue tus chistes</h1>
    <p class="subtitle">Permite que el algoritmo evalúe tu sentido del humor 🤡</p>

    <div class="form-box">
      <textarea id="jokeInput" placeholder="Escribe o pega tu chiste aquí..."></textarea>
      <select id="modelSelect">
        <option value="model_a">Modelo A - Rápido y liviano</option>
      </select>
      <button onclick="rateJoke()">😂 ¡Calificar chiste!</button>
      <div id="loadingIndicator" class="hidden" style="text-align:center; margin-top: 10px;">
        ⏳ Procesando chiste...
      </div>
    </div>

    <div id="resultContainer">
      <div id="humorLabelContanier" class="hidden">
        <div id="humorLabel" class="humor-label"></div>
      </div>
      <div id="circleHumorContainer" class="hidden">
        <div class="progress-ring">
          <svg class="circle-svg" width="120" height="120">
            <circle class="circle-bg" cx="60" cy="60" r="50" />
            <circle class="circle-bar" cx="60" cy="60" r="50" />
          </svg>
          <div class="emoji-centered" id="emoji">🤣</div>
        </div>
        <div class="score-large">
          <span id="score">0.0</span><span class="total">/5</span>
        </div>
        <p id="feedbackText" class="feedback-text"></p>
        <p id="contextText" class="context-text"></p>
      </div>
    </div>      
  </main>

  <footer>
    <p>Hecho con ❤️ y un sentido del humor cuestionable</p>
  </footer>

  <div id="creatorsModal" class="modal hidden">
    <div class="modal-content">
      <span class="close-btn" onclick="closeModal()">&times;</span>
      <h3>Equipo</h3>
      <ul>
        <li>Andrés Vergara</li>
        <li>Andres Lenis</li>
        <li>Kevin Castellanos</li>
        <li>Nelson Penagos</li>
        <li>Nicolas Oviedo</li>
      </ul>
    </div>
  </div>
  
  <script src="/static/script.js"></script>
</body>
</html>
